img.doctor {
  width:100px;
  padding:4px;
  display: inline-block;
  position: absolute;
}

img.fugitive {
  bottom: 48.4;
  height: 151.74;
}

img.first {
  bottom: 107.32;
  height: 214.79;
}

img.second {
  bottom: 73.43;
  height: 179.85;
}

img.third {
  bottom: 87.67;
  height: 200.60;
}

img.fourth {
  bottom: 50.73;
  height: 172.27;
}

img.fifth {
  bottom: 12.59;
  height: 120.26;
}

img.sixth {
  bottom: 52.16;
  height: 161.62;
}

img.seventh {
  bottom: 61.62;
  height: 192.59;
}

img.eighth {
  bottom: 34.02;
  height: 197.24;
}

img.war {
  bottom: 168.53;
  height: 269.69;
}

img.ninth {
  bottom: 50.87;
  height: 150.98;
}

img.tenth {
  bottom: 25.53;
  height: 141.38;
}

img.eleventh {
  bottom: 0;
  height: 116.22;
}

img.twelfth {
  bottom: 103.85;
  height: 218.05;
}

img.thirteenth {
  bottom: 30.48;
  height: 147.38;
}

img.fourteenth {
  bottom: 88.89;
  height: 192.28;
}

img.fifteenth {
  bottom: 14.5;
  height: 113.93;
}




